// Reusable Classes

// Fonts
.heading-l {
  font-weight: 700;
  font-size: 56px;
  line-height: 71px;
  text-transform: uppercase;
}

.heading-m {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
}

.heading-s {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.heading-xs {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.body-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

// Buttons
.big-pink-btn {
  background: $pink;
  width: 400px;
  height: 72px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0px 15px;
  padding: 0px 15px;

  &:hover {
    border: 2px solid $dk-purple;
    cursor: pointer;
    box-shadow: 0px 15px $dk-purple;
  }
}

.big-yellow-btn {
  background: $yellow;
  width: 400px;
  height: 72px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;

  &:hover {
    border: 2px solid $dk-purple;
    cursor: pointer;
    box-shadow: 0px 15px $dk-purple;
  }
}

.big-white-btn {
  background: white;
  width: 400px;
  height: 72px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0px 15px;
  padding: 0px 15px;

  &:hover {
    border: 2px solid $dk-purple;
    cursor: pointer;
    box-shadow: 0px 15px $dk-purple;
  }
}

.sm-prpl-btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $dk-purple;
  border-radius: 20px;
  color: white;
  padding: 0px 25px;
  height: 39px;
  width: 120px;

  &:hover {
    cursor: pointer;
    background: $pink;
  }
}

// Scoreboard
.sb-cont {
  width: 141px;
  height: 187px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  .face {
    width: 54px;
    height: 59px;
    position: absolute;
    top: 0px;
  }

  .sb {
    width: 141px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0px 15px;
    background: white;
  }
}

// Playing board
.spaceBtn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  opacity: 0;
  z-index: 100;
  
  &:hover{
    cursor: pointer;
  } 
}

.circle-cont {
  display: flex;
  justify-content: center;  
  align-items: center;
}

// Disabled button
.disabled {
  &:hover {
    cursor: default;
  }
}