@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');
@import 'styles/config';
@import 'styles/utilities';

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

// Home Page
#home-cont {
  height: 100vh;
  width: 100vw;
  background: $dk-purple;
  display: flex;
  align-items: center;
  justify-content: center;

  #home-cont-sq {
    width: 480px;
    height: 435px;
    border: 3px solid black;
    border-radius: 40px;
    box-shadow: 0px 10px;
    background: $lt-purple;
    display: flex;
    align-items: center;
    justify-content: center;

    #home-sel-cont {
      width: 400px;
      height: 385px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      #home-img {
        width: 52px;
        height: 52px;
      }

      #home-btn-cont {
        width: 400px;
        height: 294px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #rules-btn {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
  }
}

// Game play page
#game-play {
  height: 100vh;
  width: 100%;
  background: $lt-purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #bot-shadow {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 160px;
    border-radius: 40px 40px 0 0;
    background: $dk-purple;
  }

  #header {
    width: 618px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  #game-board {
    width: 900px;
    height: 565px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #pb-cont {
      width: 85%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;

      #marker-cont{
        width: 75%;
        height: 35px;
        position: relative;

        #marker {
          position: absolute;
          z-index: 1;
        }
      }

      #playingboard {
        width: 90%;
        margin-top: -20px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        #buttons-div {
          height: 372px;
          width: 435px;
          margin-top: 22px;
          display: inline-grid;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: repeat(6, 1fr);
          grid-column-gap: 1px;
          grid-row-gap: 1px;
          align-items: center;
          justify-items: center;
        }

        #blackboard {
          position: absolute;
          top: 15px;
          left: 0;
          z-index: -5;
        }

        #whiteboard {
          position: absolute;
          top: 15px;
          left: 0;
          z-index: -4
        }
      }

      #turn {
        width: 197px;
        height: 150px;
        position: absolute;
        bottom: 0px;

        #players-turn {
          position: absolute;
          top: 45px;
          left: 20%;
        }

        #time {
          position: absolute;
          top: 70%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-transform: lowercase;
        }
      }
    }
  }
}

// Rules Page
#rules-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: $lt-purple;
  display: flex;
  justify-content: center;
  align-items: center;

  #rules-cont {
    width: 400px;
    height: 570px;
    border: 3px solid black;
    border-radius: 40px;
    box-shadow: 0px 10px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 40px;
    position: relative;

    #rules-heading {
      margin-left: auto;
      margin-right: auto;
    }

    #rules-obj-head {
      color: $lt-purple;
    }

    #how-to-play-head {
      color: $lt-purple;
    }

    #how-to-play {
      margin: 0 0 1.5em;

      li {
        margin-bottom: 5px;
        padding: 0 0 0 20px;
        text-indent: -2.5em;
        list-style-type: none;
        counter-increment: item;
      }

      li:before {
        display: inline-block;
        width: 1.5em;
        padding-right: 0.7em;
        font-weight: bold;
        font-size: 18px;
        text-align: right;
        content: counter(item);
      }
    }
    
    #check-btn {
      background: none;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 50%;
      position: absolute;
      bottom: -40px;
      left: 42%;
    }
  }
}

// Pause Modal
#pause-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);

  #pause-sq {
    width: 480px;
    height: 435px;
    border: 3px solid black;
    border-radius: 40px;
    box-shadow: 0px 10px;
    background: $lt-purple;
    display: flex;
    align-items: center;
    justify-content: center;

    #pause-sel-cont {
      width: 400px;
      height: 385px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      #pause-title {
        width: 169px;
        height: 71px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }

      #pause-btn-cont {
        width: 400px;
        height: 274px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}